$grey: #1D1F53;
$indigoBlue: #1D1F53;
$white: #fff;
$greenLight: #56E7D2;

@font-face {
  font-family: 'Chronicle Display';
  src: url('../fonts/ChronicleDisplay-Black.eot');
  src: url('../fonts/ChronicleDisplay-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ChronicleDisplay-Black.woff2') format('woff2'),
      url('../fonts/ChronicleDisplay-Black.woff') format('woff'),
      url('../fonts/ChronicleDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chronicle Display Normal';
  src: url('../fonts/ChronicleDisplay-Roman.eot');
  src: url('../fonts/ChronicleDisplay-Roman.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ChronicleDisplay-Roman.woff2') format('woff2'),
      url('../fonts/ChronicleDisplay-Roman.woff') format('woff'),
      url('../fonts/ChronicleDisplay-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body{
  font-family: 'Arsenal', sans-serif;
  font-family: 'Figtree', sans-serif;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.container{
  @media screen and (min-width:1400px) {
    max-width: 1320px;
  }
}

// header and footer
#header-wrapper{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

#footer-wrapper{
  background: #1D1F53;
  color: #fff;
  .column-footer{
    h2{
      font-family: 'Chronicle Display Normal';
      font-weight: 325;
      font-size: 28px;
      @media screen and (min-width:1440px) {
        width: 78%;
      }
    }
    .block{
      .title-block{
        color: $greenLight;
        font-size: 14px;
      }
      .column{
        font-size: 14px;
      }
      a{
        color: #fff;
      }
    }
    .after-column{
      border-top: 1px solid $greenLight;
      font-size: 14px;
      a{
        color: $white;
        i{
          font-size: 24px;
        }
      }
    }
  }
}
// end

.link-button{
  text-transform: uppercase;

  a{
    padding: 20px 67px 20px 30px;
    border-radius: 50px;
    min-width: 153px;
    display: inline-block;
    color: $white;
    overflow: hidden;
    position: relative;
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Arsenal', sans-serif;
    font-family: 'Figtree', sans-serif;
    font-family: 'Inter', sans-serif;
    span{
      transition: transform 0.3s;
      display: inline-block;
    }
    &::before{
      position: absolute;
      content: '';
      width: 26px;
      height: 24px;
      left: -50px;
      top: 30%;
      transition: transform 0.3s;
    }
    &::after{
      position: absolute;
      content: '';
      width: 26px;
      height: 24px;
      right: 25px;
      top: 30%;
      transition: transform 0.3s;
    }
    &:hover{
      span{
        transform: translateX(35px);
      }
      &::before{
        transform: translateX(60px);
      }
      &::after{
        transform: translateX(50px);
      }
    }
  }

  &.link-arrow-green{
    a{
      &::before{
        background: url(../images/arrow-blue.png) no-repeat;
      }
      &::after{
        background: url(../images/arrow-blue.png) no-repeat;
      }
    }
  }

  &.link-arrow-black{
    a{
      &::before{
        background: url(../images/arrow-black.png) no-repeat;
      }
      &::after{
        background: url(../images/arrow-black.png) no-repeat;
      }
    }
  }

  &.link-arrow-white{
    a{
      &::before{
        background: url(../images/arrow-white.png) no-repeat;
      }
      &::after{
        background: url(../images/arrow-white.png) no-repeat;
      }
    }
  }


  &.link-purple{
    a{
      background: $indigoBlue;
    }
  }

  &.link-white{
    a{
      border: 1px solid rgba(29, 31, 83, 0.30);
      color: $indigoBlue;
      background: $white;
      &:hover{
        border-color: $indigoBlue;
      }
    }
  }
  
  &.link-transparant{
    a{
      border: 1px solid rgba(253, 253, 253, 0.3);
      color: $white;
      background: transparent;
      &:hover{
        border-color: $white;
      }
    }
  }


}




// home
.home-section-top{
  background: url(../images/bg-blue.png) no-repeat;
  background-size: cover;
  h1{
    font-family: 'Chronicle Display Normal';
    font-weight: 400;
  }
}

.home-section-2{
  .column-right{
    h6{
      color: #56E7D2;
      font-weight: 700;
    }
    p{
      color: $grey;
    }
  }
}

.home-section-3{
  background: var(--Gradient-Mint, linear-gradient(248deg, rgba(86, 231, 209, 0.28) 0%, rgba(86, 231, 210, 0.16) 16.15%, rgba(86, 231, 210, 0.12) 33.39%, rgba(86, 231, 210, 0.07) 67.92%, rgba(86, 231, 210, 0.05) 100%), #FFF);
  color: $indigoBlue;
  .title-left{
    h1{
      font-family: "Chronicle Display Normal"; 
      font-size: 48px;
      font-weight: 325; 
    }
  }
  .column-list{
    .title{
      h6{
        font-weight: 600;
        font-family: Inter; 
        a{
          color: $indigoBlue;
          text-decoration: none;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          &:hover{
            color: $greenLight;
          }
        }
      }
    }
    .desc{
      font-size: 14px;
    }
    .more{
      h6{
        text-transform: uppercase;
        font-size: 12px;
        a{
          color: $greenLight;
        }
      }
    }
  }
}

.home-section-4{
  background: #1D1F53;
  color: #fff;
  .title-section{
    h6{
      color: $greenLight;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px;
    }
  }
  .list-column-wrapper{
    .list-column{
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      .left-column{
        font-size: 12px;
        h6{
          font-size: 12px;
        }
        p{
          color: #E0E0E099;
        }
      }
      .center-column{
        .title{
          h1{
            font-family: "Chronicle Display Normal"; 
            font-size: 28px;
            font-weight: 325; 
            a{
              color: $white;
            }
          }
        }
        .desc{
          font-size: 14px;
        }
        .more{
          font-size: 12px;
          a{
            color: $greenLight;
            text-transform: uppercase;
          }
        }
      }
      .img{
        overflow: hidden;
        position: relative;
        a{
          display: block;
          &:hover{
            img{
              transform: scale(1.2);
            }
          }
          img{
            transition: transform 0.3s ease;
            display: block;
            width: 100%;
            height: auto;
          }
          
          
        }
      }
    }
  }
}

.home-section-5{
  .title-section{
    h6{
      color: $greenLight;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px;
    }
  }
  .block{
    border-left: 1px solid rgba(29, 31, 83, 0.15);
    .img{
      overflow: hidden;
      position: relative;
      a{
        display: block;
        &:hover{
          img{
            transform: scale(1.2);
          }
        }
        img{
          transition: transform 0.3s ease;
          display: block;
          width: 100%;
          height: auto;
        }
      }  
    }
    .tag-wrap{
      h6{
        color: $indigoBlue;
        span{
          font-weight: 300;
          color: #757880B2;
          margin-left: 10px;
        }
      }
    }
    .title{
      h2{
        font-family: 'Chronicle Display Normal';
        font-weight: 325;
        font-size: 21px;
        a{
          color: $indigoBlue;
        }
      }
    }
    .author{
      font-size: 12px;
    }
    .more{
      font-size: 12px;
      a{
        color: $greenLight;
        text-transform: uppercase;
      }
    }
  }
}