$grey: #1D1F53;
$indigoBlue: #1D1F53;
$white: #fff;
$greenLight: #56E7D2;

@font-face {
  font-family: 'Chronicle Display';
  src: url('../fonts/ChronicleDisplay-Black.eot');
  src: url('../fonts/ChronicleDisplay-Black.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ChronicleDisplay-Black.woff2') format('woff2'),
      url('../fonts/ChronicleDisplay-Black.woff') format('woff'),
      url('../fonts/ChronicleDisplay-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Chronicle Display Normal';
  src: url('../fonts/ChronicleDisplay-Roman.eot');
  src: url('../fonts/ChronicleDisplay-Roman.eot?#iefix') format('embedded-opentype'),
      url('../fonts/ChronicleDisplay-Roman.woff2') format('woff2'),
      url('../fonts/ChronicleDisplay-Roman.woff') format('woff'),
      url('../fonts/ChronicleDisplay-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body{
  font-family: 'Arsenal', sans-serif;
  font-family: 'Figtree', sans-serif;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.container{
  @media screen and (min-width:1400px) {
    max-width: 1320px;
  }
}

// header and footer
.navbar{
  transition: background-position 0.3s;
  transition: background-color 0.3s ease-in-out;
  &.navbar-scrolled {
    background-color: $white;
    background-position: 0 -100vh;
    transition: background-color 0.3s ease-in-out;
  }
  #menu-menux{
    li{
      text-transform: uppercase;
      font-size: 12px;
      position: relative;
      margin-right: 25px;
      &:last-child{
        margin-right: 0;
      }
      a{
        color: $indigoBlue;
        font-weight: 600;
        display: block;

        &.dropdown-toggle{
          &::after{
            background: url(../images/dropdown.png) no-repeat;
            content: '';
            width: 16px;
            height: 16px;
            border: none;
            position: absolute;
            transition: transform 0.3s;
          }
          &.show{
            &::after{
              -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg);
            }
          }
        }
        
      }
      
      .sub-menu{
        opacity: 0; // menyembunyikan sub-menu secara default
        transform: translateY(-20px); // menggeser sub-menu ke atas
        transition: opacity 0.3s ease, transform 0.3s ease;
        li{
          margin-right: 0;
        }
        &.show{
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
}

#footer-wrapper{
  background: #1D1F53;
  color: #fff;
  .column-footer{
    h2{
      font-family: 'Chronicle Display Normal';
      font-weight: 325;
      font-size: 28px;
      @media screen and (min-width:1440px) {
        width: 78%;
      }
    }
    .block{
      .title-block{
        color: $greenLight;
        font-size: 14px;
      }
      .column{
        font-size: 14px;
      }
      a{
        color: #fff;
      }
    }
    .after-column{
      border-top: 1px solid $greenLight;
      font-size: 14px;
      a{
        color: $white;
        &:hover{
          svg{
            color: $greenLight;
          }
        }
        svg{
          font-size: 24px;
        }
      }
    }
  }
}

.before-footer{
 .title-left{
   @media screen and (min-width:1440px) {
     width: 40%;
   }
  h6{
    color: $greenLight;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1.6px;
  }
 } 
 .link{
   border-bottom: 1px solid rgba(29, 31, 83, 0.15);
   a{
     display: block;
     font-family: 'Chronicle Display Normal';
     font-size: 28px;
     font-weight: 325;
     color: $indigoBlue;
     text-decoration: none;
     position: relative;
     &::after{
       content: '';
       position: absolute;
       background: url(../images/arrow-black.png) no-repeat;
       width: 26px;
       height: 24px;
       right: 0;
       top: 40%;
     }
   }
 }
}
// end

.link-button{
  text-transform: uppercase;

  a{
    padding: 20px 67px 20px 30px;
    border-radius: 50px;
    min-width: 153px;
    display: inline-block;
    color: $white;
    overflow: hidden;
    position: relative;
    font-size: 12px;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Arsenal', sans-serif;
    font-family: 'Figtree', sans-serif;
    font-family: 'Inter', sans-serif;
    span{
      transition: transform 0.3s;
      display: inline-block;
    }
    &::before{
      position: absolute;
      content: '';
      width: 26px;
      height: 24px;
      left: -50px;
      top: 30%;
      transition: transform 0.3s;
    }
    &::after{
      position: absolute;
      content: '';
      width: 26px;
      height: 24px;
      right: 25px;
      top: 30%;
      transition: transform 0.3s;
    }
    &:hover{
      span{
        transform: translateX(35px);
      }
      &::before{
        transform: translateX(60px);
      }
      &::after{
        transform: translateX(50px);
      }
    }
  }

  &.link-arrow-green{
    a{
      &::before{
        background: url(../images/arrow-blue.png) no-repeat;
      }
      &::after{
        background: url(../images/arrow-blue.png) no-repeat;
      }
    }
  }

  &.link-arrow-black{
    a{
      &::before{
        background: url(../images/arrow-black.png) no-repeat;
      }
      &::after{
        background: url(../images/arrow-black.png) no-repeat;
      }
    }
  }

  &.link-arrow-white{
    a{
      &::before{
        background: url(../images/arrow-white.png) no-repeat;
      }
      &::after{
        background: url(../images/arrow-white.png) no-repeat;
      }
    }
  }


  &.link-purple{
    a{
      background: $indigoBlue;
    }
  }

  &.link-white{
    a{
      border: 1px solid rgba(29, 31, 83, 0.30);
      color: $indigoBlue;
      background: $white;
      &:hover{
        border-color: $indigoBlue;
      }
    }
  }
  
  &.link-transparant{
    a{
      border: 1px solid rgba(253, 253, 253, 0.3);
      color: $white;
      background: transparent;
      &:hover{
        border-color: $white;
      }
    }
  }


}




// home
.home-section-top{
  background: url(../images/bg-blue.png) no-repeat;
  background-size: cover;
  overflow: hidden;
  .column-left{
    margin-top: 5rem;
    h1{
      font-family: 'Chronicle Display Normal';
      font-weight: 325;
      font-size: 32px;
      letter-spacing: 1px;
      line-height: 164%;
    }
  }
  .img-flag{
    display: inline-block;
    height: 100%;
    width: 100%;
    img{
      position: absolute;
      top: 1rem;
      right: -3rem;
    }
  }
  
}

.home-section-2{
  .column-right{
    h6{
      color: #56E7D2;
      font-weight: 700;
    }
    p{
      color: $grey;
    }
  }
}

.home-section-3{
  background: var(--Gradient-Mint, linear-gradient(248deg, rgba(86, 231, 209, 0.28) 0%, rgba(86, 231, 210, 0.16) 16.15%, rgba(86, 231, 210, 0.12) 33.39%, rgba(86, 231, 210, 0.07) 67.92%, rgba(86, 231, 210, 0.05) 100%), #FFF);
  color: $indigoBlue;
  .title-left{
    h1{
      font-family: "Chronicle Display Normal"; 
      font-size: 48px;
      font-weight: 325; 
      span{
        display: block;
      }
    }
  }
  .column-list{
    border-bottom: 1px solid rgba(29, 31, 83, 0.15);
    .title{
      h6{
        font-weight: 600;
        font-family: Inter; 
        a{
          color: $indigoBlue;
          text-decoration: none;
          -webkit-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
          &:hover{
            color: $greenLight;
          }
        }
      }
    }
    .desc{
      font-size: 14px;
    }
    .more{
      h6{
        text-transform: uppercase;
        font-size: 12px;
        a{
          color: $greenLight;
        }
      }
    }
  }
}

.home-section-4{
  background: #1D1F53;
  color: #fff;
  .title-section{
    h6{
      color: $greenLight;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px;
    }
  }
  .list-column-wrapper{
    .list-column{
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
      .left-column{
        font-size: 12px;
        h6{
          font-size: 12px;
        }
        p{
          color: #E0E0E099;
        }
      }
      .center-column{
        .title{
          h1{
            font-family: "Chronicle Display Normal"; 
            font-size: 28px;
            font-weight: 325; 
            a{
              color: $white;
            }
          }
        }
        .desc{
          font-size: 14px;
        }
        .more{
          font-size: 12px;
          a{
            color: $greenLight;
            text-transform: uppercase;
          }
        }
      }
      .img{
        overflow: hidden;
        position: relative;
        a{
          display: block;
          &:hover{
            img{
              transform: scale(1.2);
            }
          }
          img{
            transition: transform 0.3s ease;
            display: block;
            width: 100%;
            height: auto;
          }
          
          
        }
      }
    }
  }
}

.home-section-5{
  .title-section{
    h6{
      color: $greenLight;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px;
    }
  }
  .block{
    border-left: 1px solid rgba(29, 31, 83, 0.15);
    .img{
      overflow: hidden;
      position: relative;
      a{
        display: block;
        &:hover{
          img{
            transform: scale(1.2);
          }
        }
        img{
          transition: transform 0.3s ease;
          display: block;
          width: 100%;
          height: auto;
        }
      }  
    }
    .tag-wrap{
      h6{
        color: $indigoBlue;
        span{
          font-weight: 300;
          color: #757880B2;
          margin-left: 10px;
        }
      }
    }
    .title{
      h2{
        font-family: 'Chronicle Display Normal';
        font-weight: 325;
        font-size: 21px;
        a{
          color: $indigoBlue;
        }
      }
    }
    .author{
      font-size: 12px;
    }
    .more{
      font-size: 12px;
      a{
        color: $greenLight;
        text-transform: uppercase;
      }
    }
  }
}


// about
.about-section-top{
  .column-left{
    h1{
      font-family: 'Chronicle Display Normal';
      font-weight: 325;
      font-size: 64px;
    }
    .desc{
      p{
        line-height: 175%;
      }
    }
  }
}

.about-section-2{
  background: $indigoBlue;
  color: $white;
  .title-section{
    h6{
      color: $greenLight;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px;
      font-family: 'Inter', sans-serif;
      letter-spacing: 1.6px;
    }
  }
  .column{
    .title-column{
      h1{
        font-family: 'Chronicle Display Normal';
        font-weight: 325;
        font-size: 32px;
        line-height: 164%;
      }
    }
    p{
      font-weight: 325;
      font-size: 16px;
    }
  }
}

.about-section-3{
  .title-column{
    h1{
      font-family: 'Chronicle Display Normal';
      font-weight: 325;
      font-size: 48px;
      line-height: 125%;
      color: $indigoBlue;
    }
  }
  .main-column-wrapper{
    .title-section{
      h6{
        color: $greenLight;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
      }
    }
    .main-column{
      color: $indigoBlue;
      border-bottom: 1px solid rgba(29, 31, 83, 0.15);
      .name{
        h2{
          font-family: 'Chronicle Display Normal';
          font-weight: 325;
          font-size: 28px;
          line-height: 125%;
        }
      }
      .position{
        color: rgba(117, 120, 128, 0.70);
        font-size: 14px;
      }
    }
    .list-team{
      border-bottom: 1px solid rgba(29, 31, 83, 0.15);
      .block{
        .nama{
          margin-top: 15px;
          h5{
            font-size: 16px;
            font-weight: 600;
          }
        }
        .position{
          color: rgba(117, 120, 128, 0.70);
          font-size: 14px;
        }
      }
    }
  }
}

.about-section-4{
  background: var(--Gradient-Mint, linear-gradient(248deg, rgba(86, 231, 209, 0.28) 0%, rgba(86, 231, 210, 0.16) 16.15%, rgba(86, 231, 210, 0.12) 33.39%, rgba(86, 231, 210, 0.07) 67.92%, rgba(86, 231, 210, 0.05) 100%), #FFF);
  .img-map{
    height: 100%;
    width: 100%;
    img{
      margin-left: -3rem;
    }
  }
  .title{
    h1{
      font-family: 'Chronicle Display Normal';
      font-size: 48px;
    }
  }
  .desc{
    p{
      line-height: 175%;
    }
  }
  .list-network-wrapper{
    .title-left{
      padding-top: 35px;
      h6{
        color: $greenLight;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 16px;
      }
    }
  }
}


// programmes
.prog-section-top{
  .title-column{
    h1{
      font-family: 'Chronicle Display Normal';
      font-size: 64px;
      font-weight: 325; 
    }
  }
  .block-wrapper{
    .img{
      overflow: hidden;
      position: relative;
      a{
        display: block;
        &:hover{
          img{
            transform: scale(1.2);
          }
        }
        img{
          transition: transform 0.3s ease;
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
    .title{
      margin: 10px 0;
      a{
        color: $indigoBlue;
        font-size: 16px;
        font-weight: 600;
        line-height: 175%; /* 28px */ 
      }
    }
    .desc{
      p{
        font-size: 14px;
        line-height: 170%;
      }
    }
    .more{
      a{
        color: $greenLight;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
      }
    }
  }
}